/* --- main container header --- */
.header-background {
	width: 100%;
	height: 400px;
	position: absolute;
	border-bottom: 5px solid $main-background-color;
	margin: 0;
}

.header-background.img {
	background: url('../img/bkcg.jpg') 0 100% repeat-y;
	background-size: 100%;
    background-attachment: fixed;
}

.header-background.rasterise {
	background: url('../img/pxl.png') rgba(0, 0, 0, 0.4);
    opacity: 0.6;
}

.main-header {
	width: $main-width;
	margin: 0 auto;
	min-height: 430px;
	position: relative;
	
	span {
		display: inline-block;
		width: 100%;
		text-align: center;
		position: absolute;
		font-weight: 300;
		color: $main-color;
	}
	
	.main-header__title {
		top: 42%;
		font-size: 38pt;
	}
	
	.main-header__tagline{
		top: 55%;
		font-size: 26pt;
	}
}
