.last-adds {
	width: $main-width;
	margin: 4em auto 0 auto;
	
	.last-adds__list ul{
		margin: 0;
		padding: 0;
	}
	
	.last-adds__list .last-adds__item {
		border: 1px solid $main-background-color;
		background: #fff;
		list-style-type: none;
		margin: 0 1.5em 0 0;
		padding: 0;
		display: inline-block;
		width: 339.666666666666666px;
		position: relative;
		overflow: hidden;
		
		span {
			display: block;
		}
		
		.last-adds__item-img {
			background: silver;
			width: 100%;
			height: 440px;
		}
		
		.last-adds__item-desc {
			position: absolute;
			top: 0;
			height: 0;
			width: 100%;
			height: 100%;
			padding-right: -150%;
			width: 100%;
			text-align: center;
            padding-top: 5%;
            color: $whole-background;
            
            span{
                margin-left: -150%;
                transition: 350ms ease-in-out;
                width: 90%;
                padding: 0 5%;
                text-align: left;
                margin-bottom: 5px;
                //border: 1px solid red;
            }
            
            .title {
                font-size: 18pt;
            }
            
            .author {
                font-style: italic;
                font-size: 9.5pt;
            }
		}
		
		.last-adds__item-desc:hover {
			background-color: $main-background-color-transparent;
            span {
                margin-left: 0%;
            }
            
            .title {
                transition: 350ms ease-in-out;
            }
            
            .author {
                transition: 450ms ease-in-out;
            }
            
            .syn {
                transition: 550ms ease-in-out;
            }
		}
	}
}
